#title {
  font-size: 25px;
  background-color: skyblue;
  height: 50px;
  width: 1713px;
  border-radius: 1%; color: black;
  text-align: start;
}

#links {
  font-size: 25px;
  color: antiquewhite;
  text-align: end;
  position: relative; bottom: 50px;
}

#portfolio {
  background-color: aqua;
  font-family: monospace;
  text-align: center;
 }

 #links3 {
  font-size: 25px;
 }

 #about {
  background-color: aqua;
 }